{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} T-Blog {% endblock %}
  
{% block head %}
{{super()}}
{%- endblock %}

{% block styles -%}
    {{super()}} 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}" />
	<link rel="stylesheet" type="text/css" href="../static/font-awesome-4.7.0/css/font-awesome.css"/>
	<link rel="shortcut icon" type="images/x-icon" href="../static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../static/zui-1.9.1/dist/css/zui.css"/>
{% endblock %}
 
{% block navbar %}
	<!--顶部导航-->
	<div class="d1">
		<div class="container-navbar">
			<div class="T-icon">
				<a href="../index.html" target="_self">
					<img src="../static/images/logo.png" alt="T-blog" title="T-blog" height="56px" />
				</a>		
			</div>
			
			{{nav.frontend_top.render()}}
			<div class="other-navbar">
				<a href="../help.html" target="_self">
					<i class="fa fa-book"></i> &nbsp; Help
				</a>
			</div>
			
			<div class="jumbotron">
							{{wtf.quick_form(form, novalidate=True)}}
			</div>   
			
			<div class="searchbar">
				<div class="search">
					<div class="search-content">
						<input type="text" placeholder="search" value="" />
					</div>				
					<div class="search-icon">
						<i class="fa fa-search"></i> &nbsp;
					</div>
				</div>
				<div class="other-searchbar">
					<div class="switch">
					  <input type="checkbox">
					  <label>夜间模式</label>
					</div>
				</div>
			</div>
		</div>
		<div id="tianchong" style="height: 2px; background-color: orange;">
			
		</div>
	</div>
{% endblock %}
{% block content %}
		<div class="content">
			<div class="row">
				<div class="left-side">
					<div class="welcome">
						<div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
						  <!-- 圆点指示器 -->
						  <ol class="carousel-indicators">
						    <li data-target="#myNiceCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myNiceCarousel" data-slide-to="1"></li>
						    <li data-target="#myNiceCarousel" data-slide-to="2"></li>
						  </ol>
						
						  <!-- 轮播项目 -->
						  <div class="carousel-inner">
						    <div class="item active">
						      <img alt="First slide" src="http://openzui.com/docs/img/slide1.jpg">
						      <div class="carousel-caption">
						        <h3>我是第一张幻灯片</h3>
						        <p>:)</p>
						      </div>
						    </div>
						    <div class="item">
						      <img alt="Second slide" src="http://openzui.com/docs/img/slide2.jpg">
						      <div class="carousel-caption">
						        <h3>我是第二张幻灯片</h3>
						        <p>0.0</p>
						      </div>
						    </div>
						    <div class="item">
						      <img alt="Third slide" src="http://openzui.com/docs/img/slide3.jpg">
						      <div class="carousel-caption">
						        <h3>我是第三张幻灯片</h3>
						        <p>最后一张咯~</p>
						      </div>
						    </div>
						  </div>
						
						  <!-- 项目切换按钮 -->
						  <a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
						    <span class="icon icon-chevron-left"></span>
						  </a>
						  <a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
						    <span class="icon icon-chevron-right"></span>
						  </a>
						</div>
					</div>
					<div class="write">
						{% for info in articles %}
							<div class="container-index">
								<div id="passage-contain">
									<div class="passage">
										<div class="title">
											<h2><a href="/article/{{ info[0] }}"> {{ info[1] }} </a></h2>
										</div>
										<div class="abstract">
											{{ info[4] }}
										</div>
										<div class="meta">
											<p><b>@{{ info[2] }}</b> at <i>{{ info[3] }}</i></p>
										</div>
									
									</div>
									<div class="passage-image">
										<img src="../static/images/passage_image.jpg" height="170px" width="170px"/>
									</div>
								</div>							
							</div>
						<hr/>	
						{% endfor %}
					</div>
					
				</div>
				
				<div class="right-side">
					
				</div>
				
			</div>
			<footer style="clear:both;">
				<div class="footer-information">
					
				</div>
			</footer>
		</div> 
{%- endblock %}
{% block sidebar %}

{% endblock %}