{%- extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Manage Category</h1>
        </div>
        {% for info in categories %}
            <div class="jumbotron">
                <h2> {{ info[1] }} </h2>
                <a href="/admin/edit_category/{{ info[0] }}"><button>Edit</button></a>
                <a href="/admin/delete_category/{{ info[0] }}"><button>Delete</button></a>
            </div>
        {% endfor %}
    </div> 
{%- endblock %}
 