{%- extends "classic/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h5> Category: {{ category }} </h5>
            <h1> {{ title }} </h1>
            <h4> Author: {{ author }} </h4>
            <h6>Tags</h6>
            {% for info in tags %}
                <hr>
                <div>
                    <p><b>{{info[1]}}</b></p>
                </div>
            {% endfor %}
        </div>
        <div class="jumbotron">
            {{ content | safe }}
        </div>
        <div class="jumbotron">
            <h2>Comments</h2>
            {% for info in comments %}
                <hr>
                <div>
                    <p><b>@{{ info[1] }}</b> at <i>{{ info[3] }}</i></p>
                    {{ info[2] | safe }}
                </div>
            {% endfor %}
        </div>
        
        <div class="jumbotron">
            <h2>Leave a comment</h2>
            {{wtf.quick_form(form, novalidate=True)}}
        </div>   
    </div>
{%- endblock %}
 