{%- extends "bootstrap/base.html" %}

{% block title %} T-Blog {% endblock %}

{% block head %}
{{super()}}
{%- endblock %}

{% block styles -%}
    {{super()}} 
	<link rel="shortcut icon" type="images/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/zui/1.9.1/css/zui.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}" />
{% endblock %}

{% block navbar %}
	<!--顶部导航-->
	<div class="d1">
		<div class="container-navbar">
			<div class="T-icon">
				<a href="/index.html" target="_self">
					<img src="/static/images/logo.png" alt="T-blog" title="T-blog" height="56px" />
				</a>		
			</div>
			
			{{nav.frontend_top.render()}}

			<div class="other-navbar">
				<a href="/help.html" target="_self">
					<i class="fa fa-book"></i> &nbsp; Help
				</a>
			</div>
			
			<div class="searchbar">
				<div class="search">
					<div class="search-content">
						<input type="text" placeholder="search" value="" />
					</div>				
					<div class="search-icon">
						<i class="fa fa-search"></i> &nbsp;
					</div>
				</div>
				<div class="other-searchbar">
					<div class="switch">
					  <input type="checkbox">
					  <label>夜间模式</label>
					</div>
				</div>
			</div>
		</div>
		<div id="tianchong" style="height: 2px; background-color: orange;">
			
		</div>
	</div>
{% endblock %}
	
{% block content %}
		<div class="content">
			<div class="row">
				<div class="left-side">
					<div class="welcome">
						<h1>Welcome to T-Blog</h1>
					</div>
					<div class="write">
						{% for info in articles %}
							<div class="container-index">
								<div id="passage-contain">
									<div class="passage">
										<div class="title">
											<h2><a href="/article/{{ info[0] }}"> {{ info[1] }} </a></h2>
										</div>
										<div class="abstract">
											{{ info[4] }}
										</div>
										<div class="meta">
											<p><b>@{{ info[2] }}</b> at <i>{{ info[3] }}</i></p>
										</div>
									
									</div>
									<div class="passage-image">
										<img src="../static/images/passage_image.jpg" height="170px" width="170px"/>
									</div>
								</div>							
							</div>
						<hr/>	
						{% endfor %}
					</div>
					
				</div>
				
				<div class="right-side">
					
				</div>
				
			</div>
			<footer style="clear:both;">
				<div class="footer-information">
					
				</div>
			</footer>
		</div> 
{%- endblock %}




