{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
	<div class="content">
		<div class="row">
			{% block ownself %}
					<div class="container col-md-8">
						<div class="jumbotron">
							<h1>Search</h1>
						</div>
						<div class="col-md-8">
							{{wtf.quick_form(form, novalidate=True)}}
						</div>
					
					</div>
					{% block sidebar %}
					{{super()}} 
					{%- endblock %}
			{%- endblock %}
			
		</div>
		{% block footer %}
			{{super()}} 
		{%- endblock %}
	</div>
	
{%- endblock %}
 